<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Reports.Properties.Settings.CSCL_Health" connectionString="Data Source=123.231.75.7,9231;Initial Catalog=CSCL_Health;User ID=SFATestUser;Password=57Twq5TBR8PFJAJv"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>